body {
  font: 20px "Palatino", Verdana, sans-serif;
  line-height: 1.8;
  color: #3F3A36;
  background-color: #F3EEDD;
}

.textcontainer {
  padding: 2% 10%;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #E3165B;
}

.container-fluid {
  padding: 0;
}

nav {
  background-color: #F3EEDD;
  color: #EEE7E8;
  padding: 50px 0px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #2B5E34;
  font-size: 60px;
  font-weight: bold;
}

.nav-container {
  display: flex;
  align-items: center;

  padding-left: 230px;
  padding-right: 40px;
}

.nav-link {
  background: none;
  border: none;
  padding: 0;
  color: #2B5E34;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  transition: 0.2s;
}

.nav-link:hover {
  color: #1F4D3A;
  text-decoration: underline;
}

.navbar-links {
  display: flex;
  justify-content: flex-start;
  gap: 30px;

  margin-left: 60px;
  align-items: center;
  transform: translateY(6px);
}

.row {
  justify-content: center;
  margin-bottom: 30px;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}


.week-card img {
    width: 250px;
    height: auto;
    transition: transform 0.25s ease;
}

.week-card:hover img {
    transform: scale(1.12);
}

.week-card p {
    font-size: 20px;
    font-weight: bold;
    color: #2B5E34;
    margin-top: 10px;
}

.week-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

h3 {
    color: #2B5E34;
    font-size: 36px;
    font-weight: bold;
}

.page-title {
    margin-left: 70px;
    color: #2B5E34;
    font-size: 40px;
    font-weight: bold;
}

.page-subheading {
    margin-left: 70px;
    color: #3F3A36;
    font-size: 25px;
}

.page-writing {
    margin-left: 70px;
    color: #3F3A36;
    font-size: 16px;
}

.page-align {
  margin-left: 70px;
  color: #3F3A36;
}

.about-photo {
    margin-left: 70px;   /* increase or decrease this */
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.image-row img,
.image-row video {
    width: 350px;
    height: auto;
}

/* --------- Animations ------- */
nav {
  opacity: 0;
  transform: translateY(-10px);
  animation: navDropIn 1.2s ease-out forwards;
}

.week-grid {
  opacity: 0;
  transform: translateY(-15px);
  animation: gridFadeIn 1s ease-out forwards;
  animation-delay: 0.5s; /* starts after navbar finishes */
}

@keyframes navDropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gridFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
